@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@-webkit-keyframes open {
    from {
        padding: 0 30px;
        height: 0;
    }
    to {
        height: 470px;
    }
}

.weather-header {
    margin-top: 20px;
    font-weight: 300;
    font-size: 1em;
    -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1);
}

.weather-type {
    float: left;
    margin-top: 10px;
    color: #777;
    font-weight: 400;
    font-size: 1em;
    -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;
}

.weather-span {
    margin-left: 24px;
    color: #999;
    font-weight: 100;
}

.weather-span > span {
    margin-left: 0;
    padding: 1px;
}

.dot {
    font-size: 0.9em;
}

@-webkit-keyframes up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(15px);
    }
    99% {
        -webkit-animation-play-state: paused;
    }
    100% {
        opacity: 1;
    }
}
