.audio-player {
    background-image: url("./647786.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .audio-controls {
        padding-top: 4rem;
        background: transparent;
    }
}
