.profile-card {
    width: 250px;
}
.profile-card .header {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 1;
    overflow: hidden;
}

.profile-card .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.profile-card .header:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.profile-card .header img {
    border-radius: 100%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
    padding: 0 30px;
    text-align: center;
    color: #888;
}

.profile-card .profile-social-links {
    display: table;
    width: 70%;
    margin: 20px auto;
}

.profile-card .profile-social-links li {
    display: table-cell;
    width: 33.3333333333333333%;
}

.profile-card .profile-social-links li a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 100%;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.profile-card .profile-social-links li a:hover {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
        0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.profile-card .profile-social-links li a:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.profile-card .profile-social-links li a img {
    width: 100%;
    display: block;
}

.profile-card .card-body .card-text {
    overflow-wrap: break-word;
    word-break: break-all;
}
