.todo-list {
    .inserted-elements-list {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.est-input {
    width: 5rem;
}
.task-title {
    width: 16rem;
}

@media all and (max-height:720px) {
    .todo-list{
        .inserted-elements-list{
            height: 13rem;
        }
    }
}
@media all and (min-height:800px) and (max-height:1080px) {
    .todo-list {
        .inserted-elements-list {
            height: 31rem;
        }
    }
}